body {
    font-family: Montserrat, sans-serif;
    background-color: transparent;
    color: #343a40;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(64, 83, 125);
    border-radius: 8px;
    text-align: center;
    position: relative;
    z-index: 1;
}

h1 {
    color: #ffffff;
    margin: 0px 0; /* Adjust space below the logo */
}

h2 {
    color: #ffffff;
    margin: 0px 0; /* Adjust space above the input container */
}


h3, h4 {
    color: #48648D;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0 10px;
}

h1 img {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2 img {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #48648D;
}

.input-group input[type="number"]::placeholder {
    color: rgb(72, 100, 141);
    opacity: 1;
    font-size: 14px;
    font-weight: 700;
}

/* Button Styles */
form button, .back-button {
    padding: 7px 14px;
    background-color: #ffffff;
    color: #48648D;
    border: 2px solid rgb(72, 100, 141);
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    font-family: Montserrat, sans-serif; 
    font-weight: 395; 
    margin-top: 15px; 
    padding-right: 15px; 
}

.back-button {
    padding-left: 15px; 
}

form button::after {
    content: ">";
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #48648D;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.back-button::after {
    content: "<";
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #48648D;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

/* Expand to the right on hover for form button */
form button:hover {
    padding-right: 30px; 
}

.back-button:hover {
    padding-left: 30px; 
}

/* Show arrow and adjust position on hover */
form button:hover::after {
    opacity: 1;
    transform: translateY(-50%) translateX(-1px); 
}

.back-button:hover::after {
    opacity: 1;
    transform: translateY(-50%) translateX(-1px); 
}

form button:hover, .back-button:hover {
    background-color: #eeeeee;
    border-color: transparent;
}

/* Background Video and Overlay */
.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 14, 32, 0.67);
    z-index: 0;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: #3a3a3a;
    padding: 5px;
    max-width: 550px;
    width: 85%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.block {
    max-width: px;
    margin: 10px;
    padding: 2px;
    background-color: rgba(236, 236, 236, 0.98);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(64, 83, 125);
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}

/* Adjustments for h3 and h4 */
h4 {
    color: #48648D;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0 10px;
}

/* Ensure back-button styles fit the layout */
.back-button {
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
}

/* Thinner text styles */
.thin-text {
    font-weight: 100; 
}

.no-background h2 {
    margin: 1px 0; 
}

.no-background h2 img {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto 1px;
}

 .reminder-text {
    font-size: 0.8em; 
    color: #666; 
    margin-top: 10px; 
}

/* Adjusting the input field */
.input-group input[type="number"] {
    width: 40%; 
    max-width: 100px; 
    appearance: none;
    background-color: rgb(218, 218, 218);
    border: 2px solid rgb(64, 83, 125);
    box-sizing: border-box;
    color: rgb(72, 100, 141);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    height: 54px;
    padding: 16px;
    text-align: start;
    -webkit-font-smoothing: antialiased;
}


/* Adjusting other input groups if needed */
.input-group:not(.package-select) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group:not(.package-select) input {
    width: 100%;
    max-width: 900px;
}